body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    max-width: 400px;
    width: 100%;
    margin: auto;
    text-align: center; 
    margin-top: 5rem;
    background-color: rgb(235, 235, 235);
}

.col-8 {
    width: 100%;
}


/* Opcional: Se você quiser centralizar os botões horizontalmente */
.form-group {
    text-align: left; /* Alinhar rótulos e campos de entrada à esquerda */
    margin: 1rem;
}

.btn {
    margin: 1.3rem;
}
/* Ajuste para centralizar o formulário verticalmente */
.form-container::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Ajuste para correção no alinhamento */
}

.form-container form {
    display: inline-block;
    vertical-align: middle;
    text-align: left; /* Alinhar rótulos e campos de entrada à esquerda */
}
