<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="spinner-border text-success mt-5" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div class="row">
        <div class="col" *ngIf="funcionario && !isLoading">
            <app-funcionario-form [btnAcao]="btnAcao" [btnTitulo]="btnTitulo" [dadosFuncionario]="funcionario"
                (onSubmit)="editFuncionario($event)"></app-funcionario-form>
        </div>
    </div>
</div>