<div class="container-fluid funcionario-box">
    <div class="row">
        <div class="col-6 mt-4">
            <!-- <button type="button" class="btn btn-dark" (click)="cadastroForm()">Novo funcionário</button> -->
            <button type="button" class="btn btn-dark" routerLink="/cadastro">Novo funcionário</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-4">
            <h5>Filtros</h5>
            <hr class="col-4">
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" placeholder="Nome de registro"
                (input)="nome($event)">
        </div>
        <div class="col-4">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" placeholder="Sobrenome de Registro"
                (input)="sobrenome($event)">
        </div>
        <div class="col-4">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" placeholder="Departamento de Registro"
                (input)="departamento($event)">
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col-1">Status</th>
                        <th scope="col-3">Nome</th>
                        <th scope="col-3">Sobrenome</th>
                        <th scope="col-2">Departamento</th>
                        <th scope="col-2">Ações</th>
                    </tr>
                </thead>

                <tbody *ngFor="let funcionario of funcionarios">
                    <tr>

                        <td>
                            <div class="ativo" *ngIf="funcionario.ativo == true; else inativo">
                                <img src="../../../assets/Images/Ativo.png" style="height:20px; width: 20px">
                            </div>
                            <ng-template #inativo>
                                <img src="../../../assets/Images/Inativo.png" style="height:20px; width: 20px">
                            </ng-template>

                        </td>
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.sobrenome }}</td>
                        <td>{{ funcionario.departamento }}</td>

                        <td>
                            <button type="button" class="btn btn-warning me-1" routerLink="/editar/, {{funcionario.id}}">Editar</button>
                            <button type="button" class="btn btn-info me-1">Detalhes</button>
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>