<div class="funcionario-box">
    <button>Cadastrar novo funcionário</button>

    <div>
        <h5>Filtros</h5>
        <hr>
    </div>

    <div class="input-box">
        <label>Nome:</label>
        <input type="text" placeholder="Qual registro está buscando?" (input)="nome($event)">
    </div>

    <div class="input-box">
        <label>Sobrenome:</label>
        <input type="text" placeholder="Qual registro está buscando?" (input)="sobrenome($event)">
    </div>

    <div class="input-box">
        <label>Departamento:</label>
        <input type="text" placeholder="Qual registro está buscando?" (input)="departamento($event)">
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenomes</th>
            <th>Departamentos</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody *ngFor="let funcionario of funcionarios">
        <tr>
            <td>
                <div class="ativo" *ngIf="funcionario.ativo == true; else inativo">
                    <img src="../../../assets/Images/Ativo.png" style="height:20px; width: 20px">
                </div>
                <ng-template #inativo>
                    <img src="../../../assets/Images/Inativo.png" style="height:20px; width: 20px">
                </ng-template>

            </td>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.sobrenome }}</td>
            <td>{{ funcionario.departamento }}</td>

            <td>
                <button>Editar</button>
                <button>Detalhes</button>
            </td>
            <td>
                <button>Excluir</button>
            </td>

        </tr>
    </tbody>

</table>